            <section class="container py-5" name="projetos">
                <h2 class="section-title h3 mb-4">Principais projetos</h2>
                <div class="row g-4">
                    <div class="col-md-6 col-lg-4">
                        <article class="card feature-card shadow-sm h-100 justify-content-center">
                            <img src="./assets/rect6.jpg" class="card-img-top card-image project-image" alt="Projeto de Atividade Física É MASSA!">
                            <div class="card-body">
                                <h3 class="h5">Atividade Física É MASSA!</h3>
                                <p class="text-secondary mb-0">
                                    Participei da concepção, desenvolvimento e validação de um aplicativo móvel para smartphone voltado ao monitoriamnento da atividade Física em adolescentes.
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <article class="card feature-card shadow-sm h-100">
                            <img src="./assets/avanzo-fit.jpg" class="card-img-top" alt="Projeto Avanzo.fit">
                            <div class="card-body">
                                <h3 class="h5">Avanzo.fit</h3>
                                <p class="text-secondary mb-0">
                                   Projet de plataforma multidisciplinar para avaliação e prescrição de Atividade Física, Nutrição e Fisioterapia para profissionais.
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
